.contenido {
    width: 100%;
    margin: 0 auto;
    

    &__listad-noticias {
        width: 100%;
        float: left;
    }
    &__noticia {
        width: 100%;
        display: inline-block;
        cursor: pointer;
        padding: 0 0.5rem;

        @include respond-to('lg') {
            padding: 1.5rem 1rem;
        }

        &--cabecera {
            font-weight: bold;
            font-size: 2rem;
            padding: 1rem 0;
            
            @include respond-to('lg') {
                font-size: 1.2rem;
            }
        }

        &--image {
             width: 100%;
             height: 150px;

             @include respond-to('md') {
                height: 100%;
            }

            @include respond-to('lg') {
                height: 100%;
            }
             
        }

        &--parrafo {
            font-weight: bold;
            padding: 1rem 0.625rem;
            font-size: 1rem;
            

            @include respond-to('lg') {
                font-size: 0.7rem;
                padding: 1rem 0;
            }
            
            
        }
    }

   
}

