.contenido {
    width: 100%;
    margin: 0 auto;

    &__listad-noticias {
        width: 100%;
        float: left;
    }
    &__noticia {
        width: 100%;
        display: inline-block;
        cursor: pointer;
        padding: 0 0.5rem;

        &--cabecera {
            font-weight: bold;
            font-size: 1.2rem;
            padding: 1rem 0;
        }

        &--image {
             width: 100%;
        }

        &--parrafo {

            @include respond-to('md') {
                padding: 5px 10px;
                font-weight: bold;
            }
            
            
        }
    }

   
}

