.footer {
    width: 100%;
    //padding: 1rem 0;
    text-align: center;
    

    &__info {
        font-size: 1.5rem;
        font-weight: bold;

        @include respond-to('lg') {
            font-size: 1rem;
            padding: 1rem 0;
        }
    }

}